body{
	border-style: border-box;
	background-color: #f7f7f7;
}

main{
	margin-top: 13%;
	

}

p.username {
    margin-top: 8px;
}

.box{
	border-radius:3px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12); 
	padding: 10px 25px;
	text-align: right;
	display: block;
	margin-bottom: 13%;
	background: white;

}

.box-icon{
	background-color: black;
	border-radius:50%;
	display: table;
	height: 100px;
	margin: 0 auto;
	width: 100px;
	position: relative;
	margin-top: -61px;
	opacity: 0.7;

}

.box-icon span{
	color: #ffffff;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	
}

.info h4{
	font-size: 26px;
	letter-spacing: 2px;
	/*text-transform: uppercase;*/
}

.info > p {
	color: #717171;
	font-size: 16px;
	padding-top: 10px;
	text-align: justify;
}

.info > a {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   	color: #64ffff;
   	background-color: black;
   	border-radius:2px;
   	transition: all 0.5s ease 0s;
   	opacity: 0.8;
}

.info > a:hover{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #64ffff;
    color: #64ffff;
    transition: all 0.5s ease 0s;
    opacity: 0.9;
}

ul.listviGeral{
	list-style: none;
	text-align: left;
	padding-left:0px;
	margin-left: 0px;
	margin-top: 5%;
}

ul.listviGeral li{
	height: 32px;
}

ul li i {
	width: 10px;
	height: 10px;
}

.listviGeral li .item-container:hover span:not(.icone){
	transition: all 0.5s ease 0s;
	color:#008080;
	
}


.listviGeral li .item-container:hover span:not(.icone):nth-child(2){
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.listitemBox{
	height: 33px;
	text-decoration: none;
}

.listviItem{
	font-weight: 600;
	margin-left: 10px;
	line-height: 1;
	font-size: 16px;
}



.icontas-lvgeral{
	color: #00b5ad;
}


.idesp-lvgeral{
	color: #d95c5c;
}

.irecip-lvgeral{
	color: #5bbd72;
}



.backgreen {
	background-color: #5bbd72;
	color:white;
}

.backteal {
	background-color: #00b5ad;
	color:white;
}
.backred {
	background-color: #d95c5c;
	color:white;

}
.backgrey {
	background-color: #ccc;
	color:#000;

}

.backblue{
	background-color: #0080ff;
	color:#000;
}



.valorItem {
	
	padding: .6em .7em;
	line-height: 1;
	border-radius: .2rem;
	font-size: .9rem;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	width: 100px;



}

.listviGeral a{
	text-decoration: none;
	color:black;
	margin-top: 4px;
}



.listviGeral span.listviItem{
	margin-top: 5px;
}


#chart{

}

#canvas-holder{
        width:30%;
        float: left;
        margin-left: 10%;

}

#my-doughnut-legend{

	float: left;
	margin-left: 20%;
	margin-top: 10%;
}

.doughnut-legend li span {
  display: block;
  width: 14px;
  height: 14px;

  float: left;
  margin-top: 4px;
  margin-right: 8px;
}

.doughnut-legend {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-top : 20px;

}

.doughnut-legend li {
  margin-bottom : 4px;
}

.doughnut-legend li:first-letter {
  text-transform: capitalize;
}

.comm-how {
  display: inline-table;
  color : #979797;
  width : 25px;
  text-align: right;
  margin-right : 10px;
}
.doughnut-legend li span:hover{
	border:1px inset;
}

.green{
	color:green;
}
.teal{
	color:teal ;
}
.red{
	color: #d95c5c;
}

i.brand{
	font-size: 30px;
}

.ui.header.avaHead:first-child {
  margin-top: 0.835em;
}

.sidelef a{
	color: #6dffff!important;
	width: 18.5rem;
	
}
.negTeal{
	color: #6dffff !important;
}

header .menu .item{
	font-weight: bold;
	color:white;
}

.ui.header.avaHead:first-child{
	margin: 0;
}

.imgAv{
	margin-top: 0;
	width: 100%;
	height: 185px;
	position:relative;
	/*border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;*/
	
	

}

.rodape{
	width: 100%;
	background-color:#000;
	height: 30px;
	color:#fff;
	position: fixed;
	bottom: 0;
}

.add-icon{
	display: block;
	position: relative;
	margin-top:-2%;
	opacity: 0.7;
}

.add-icon:hover{
	text-shadow: 0 0px 3px;
}

.delete-icon {

	padding: .56em .65em;
	line-height: 1;
	border-radius: 0 .2rem .2rem 0;
	font-size: .9rem;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: white;

}

.delete-icon:hover{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.edit-icon{
	padding: .56em .65em;
	line-height: 1;
	font-size: .9rem;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: white;
	opacity: 0.86;
}

.edit-icon:hover{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.vlInterna{

	border-radius: .2rem 0 0 .2rem;
}

.edit-icon,
.valorItem,
.delete-icon{
		margin-top:0;
}

.form-add-container{
	text-align: left;
}

/* medias */
@media screen and (max-width: 470px) {
   
	.canvashold{
		
		margin-left: 25% !important;
		width: 50% !important;
	}
	#my-doughnut-legend{
		margin-left: 30% !important;
	}

	main{
		margin-top: 30%;
	}

	.box{
		margin-bottom: 20%;
	}
}

@media screen and (max-width: 990px) {

	main{
		margin-top: 20%;
	}

}
@media screen and (max-width: 640px) {

	main{
		margin-top: 23%;
	}

}

@media screen and (max-width: 430px){

	main{
		margin-top: 30%;
	}

	.box-icon .fa-3x{
		font-size: 2em;
	}

	.box-icon{
		width: 80px;
		height: 80px;
	}

	.info h4{
		font-size: 18px;
	}

	.listviGeral span.listviItem{
		font-size: 15px;

	}
	ul.listviGeral{
		margin-top: 8%;
	}

	.edit-icon,
	.valorItem,
	.delete-icon{
		margin-top:0;
		font-size: smaller;
		padding: .5rem .48rem;
	}
}


.form-add-container input {
	border-radius: 0;
	border: none;
	box-shadow: 0 2px 0px #c0c0c0 !important;
	opacity: .7;
	box-shadow: none;
}


.input:focus{
	box-shadow: 0 2px 0px teal !important;
	border:none;
	outline: 0 !important;
	transition: .2s all ease-in-out;
}

.input:focus + label{
	color: teal;
}

