main{
 margin-top: 1rem;	
}
.child {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.qlqr{
	float:right;

}

.ui .form input[type='text']:focus{
	border-color:teal;
	border-left-width:0.2em;
}

.ui .form input[type='password']:focus{
	border-color:teal;
	border-left-width:0.2em;
}

i.brand{
	font-size: 30px;
}

.ui.header.avaHead:first-child {
  margin-top: 0.835em;
}

.sidelef a{
	color: #6dffff!important;
	width: 18.5rem;
	
}

.imgAv{

	width: 185px;
	height: 185px;
	position:relative;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	
	

}
.negTeal{
	color: #6dffff !important;
}

header .menu .item{
	font-weight: bold;
	color:white;
}

.notfound{
	 position: relative;
  		top: 50%;
  		
}

.moneyArea{
	font-weight: bolder;
}

.statsGer{
	position: relative;
	margin-top:1em !important;
}

.topat{
	border-radius:0px !important;

}

.box{
	margin-top:1em !important;
}

#canvas-holder{
        width:30%;
        position: relative;
        float: left;
        margin-left: 10%;

      }
#my-doughnut-legend{

	float: left;

	margin-left: 20%;
	margin-top: 10%;
}
.doughnut-legend li span {
  display: block;
  width: 14px;
  height: 14px;

  float: left;
  margin-top: 4px;
  margin-right: 8px;
}

.doughnut-legend {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-top : 20px;

}

.doughnut-legend li {
  margin-bottom : 4px;
}

.doughnut-legend li:first-letter {
  text-transform: capitalize;
}

.comm-how {
  display: inline-block;

  color : #979797;
  width : 25px;
  text-align: right;
  margin-right : 10px;
}
.doughnut-legend li span:hover{
	border:1px inset;
}

@media screen and (max-width: 470px) {
   
	.canvashold{
		
		margin-left: 30% !important;
		width: 45% !important;
	}
	#my-doughnut-legend{
		margin-left: 30% !important;
	}
}


.listConts{
	
	text-decoration: none;

}